body {
}

.marker {
  transform: translate(-50%, -100%);
}

.error {
  color: #f05305;
}

.marker.red path {
  fill: #e5e916;
}

.marker.yellow path {
  fill: #01c211;
}
.mapboxgl-popup-close-button{
  font-size: 23px;
  padding: 20px;
}

.popup {
  padding: 1rem;
}

.popup img {
  height: 150px;
  width: auto;
  text-align: center;
  margin: 0 auto;
  display: block;
}
.map {
  height: 100vh;
  width: 100vw;
}
.mapboxgl-popup-content {
  background-color: rgba(248, 248, 248, 0.6);
  border-radius: 20px;
  color: black;
}
.addTripForm {
  margin: 0 auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.addTripForm > input {
  background: transparent;
    border: 0;
    border-left: 4px solid;
    border-color: #f05305;
    margin: 10px;
    font-size: 16px;
    padding: 20px;
    color: black;
}
.addTripForm > input::placeholder {
    color: rgb(0, 0, 0);
}
input::-webkit-datetime-edit {
  color: rgb(0, 0, 0);
}
.addTripForm > textarea {
  background: transparent;
    border: 0;
    border-left: 4px solid;
    border-color: #f05305;
    color: rgb(0, 0, 0);
    margin: 10px;
    font-size: 16px;
    padding: 20px;
}