body{
    background-image: url('https://images.pexels.com/photos/2469122/pexels-photo-2469122.jpeg?cs=srgb&dl=pexels-cliford-mervil-2469122.jpg&fm=jpg');
  background-repeat: no-repeat;
  background-size:cover;
    height:100%
}